.btn {
  padding: .55rem 1.5rem .45rem;
}


.dropdown-menu {
  min-width: 7rem !important;
}


.align-icon-center {
  display: flex;
  justify-content: center;

}

.icon-color {
  color: white !important;

}

.icon-margin-bottom {
  margin: 0% 0% 0% 0% !important;
  list-style-type: none;
}

.bg-dark {
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593) !important;
}

.NavLink {
  color: white !important;
  text-decoration: none !important;
}