

.booking-movie-container {
  margin: 20px 0;
}

.booking-movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.booking-container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.booking-seat {
  background-color: #ed0c6b82; ;
  height: 50px;
  width: 50px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.booking-seat.booking-selected {

    
    background-color: #fd3c3c;
}





.booking-seat.booking-occupied {
  background-color: #fff;
}

.booking-seat:nth-of-type(2) {
  margin-right: 18px;
}

.booking-seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.booking-seat:not(.booking-occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.booking-showcase .booking-seat:not(.booking-occupied):hover {
  cursor: default;
  transform: scale(1);
}

.booking-showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.count{
    background-color: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593) !important;
}
.booking-showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.booking-showcase li small {
  margin-left: 2px;
}

.booking-row {
  display: flex;
  justify-content: center;
}

.booking-screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}

.screen-design{
    height: calc(100vh - 65px  );
    margin-top:-1%
}