.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  margin: -7px !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  margin: -1% 0% 0% 0%;
  font-size: 14px;
}
.centerAlign{
     text-align: center;
}
