.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  margin: -7px !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  margin: -1% 0% 0% 0%;
  font-size: 14px;
}
.centerAlign{
     text-align: center;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}